
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@Html.ActionLink("Tagging", "Tagging", "Test")<br/>
@Html.ActionLink("SearchTag", "SearchTag", "Test")<br/>
@Html.ActionLink("TestCreateOrGetTag", "TestCreateOrGetTag", "Test")

