@model Learninator.ViewModels.TaggingVM
@{
    ViewData["Title"] = "SearchTag";
}

<h1>SearchTag</h1>
@Html.ActionLink("Back", "Index", "Test")

<form method="post">
    <label asp-for="Name" class="control-label" />
    <div class="tag-main">
        <span id="tagSet" class="tagset"></span><input style="display:inline" autocomplete="off" asp-for="Name" type="text" id="tagInput" /><br/>
    </div>
    <span id="tagName">[TagName]</span>
    <h2 id="tagId">-2</h2>
    <input type="submit" value="Create" class="btn btn-default" />
</form>

@section scripts
{
    <script src="~/js/Tag.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            var tagger = new Tag.Tag("tagInput", "tagName", "tagSet", "tagId"); 
        });
            </script>
}
