@model Learninator.ViewModels.TagsVM
@{
    ViewData["Title"] = "SearchTag";
}

<h1>SearchTag</h1>
@Html.ActionLink("Back", "Index", "Test")

<form id="tagForm" method="post" onsubmit="">

    <div class="tag-main">
        <div style="text-align:left; width: 50%; display:inline-block; float:left">
        <div id="tagSet" class="tagset" style="display:inline-block"></div><input style="display:inline-block" autocomplete="off" type="text" id="tagInput" />
        </div>
        <div style="text-align:right; width: 50%; display:inline-block; float:left">
            <a id="btnDeleteLastTag" class="btn btn-default" style="background-color:lightcoral; display:inline;">Delete last tag</a>
            <input type="submit" value="Create" class="btn btn-default" style="display:inline;" />
        </div>
    </div>
    <span id="tagName"></span>
    <h2 id="tagId" hidden="hidden">-2</h2>
</form>

@section scripts
{
    <script src="~/js/Tag.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            var tagger = new Tag.Tag("tagForm", "tagInput", "tagName", "tagSet", "tagId", "btnDeleteLastTag", 1); 
        });

    </script>
}
