@model Learninator.ViewModels.TaggingVM
@{
    ViewData["Title"] = "Tagging";
}

<h1>Tagging</h1>

<form method="post">
    <label asp-for="Name" class="control-label" />
    <input asp-for="Name" type="text" id="tagInput" class="form-control" />
    <h2 id="tagId">-2</h2>
    <h2 id="tagName">[TagName]</h2>
    <input type="submit" value="Create" class="btn btn-default" />
</form>

@section scripts
{
@*<script src="~/js/Tag.js"></script>*@
<script>
    $(document).ready(function () {
        var input = $("#tagInput");
        var tagId = $("#tagId");
        var tagName = $("#tagName");
        input.on("change keyup", x => {
            console.log("change!")
            //var id = Tag.GetByName(input.val());

            $.ajax({
                url: "/Tags/GetTagByName?name=" + input.val(),
                contentType: "application/json",
                success: function (data) {
                    var id = data.id;
                    var name = data.name;

                    tagId.html(id);
                    tagName.html(name);
                },
                error: function () {
                    tagId.html(-1);
                    tagName.html("[NoTagFound]");
                }
            }); 
        }) 
    })
</script>
}
