
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Administration</h1>

<ul>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="ListUsers">List Users</a></li>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="ListRoles">List Roles</a></li>
</ul>
